body {
  font-family: 'Montserrat', ;
  text-align: center;
}

#title {
  background-color: #ff4c68;

  text-align: left;
}

#title .container-fluid{
padding: 3% 15% 7%;
}

#features{




  position: relative;

  z-index: 1;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p{
font-family: 'Montserrat', sans-serif;
color: #8f8f8f;
}
.imgheight{
  height: 200px;
}
/* headings */
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5;
  line-height: 1.5
}

.section-heading{
  line-height: 1.5;
  font-size: 3rem;
}

.features-heading
{font-size: 1.5rem;
}
/* nav bar */
.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 400;
  /* font-style: italic; give it italic appearance*/
}

.navbar {
  padding: 0 0 4.5rem;
}


/* classes */
.white-section
{background-color: #fff;}
.coloured-section
{color: #fff;
background-color:   #ef8172;}
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 100;
}

/* download button */
.download-button
{margin: 5% 3% 5% 0;}

/* title image */
.title-image{

  width: 21%;

  transform: rotate(25deg);

  position: absolute;



}

/* testimonial */
.container-fluid {
  padding: 7% 15%;
}



/* testimonials */
#testimonials{


  background-color: #ef8172;

}

.test-class{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{

}


.row{
  text-align: center;
}

.icon{
  padding: 10px;
  color: #ef8172;

}

.icon:hover{
  color: #ff4c68
}

/*press */
#press{
    background-color: #ef8172;

    padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
/* pricing */
#pricing{
  padding: 100px;

}

.pricing-col
{
  padding: 3% 2%;


  }

.price-heading
{line-height: 1.5;
font-size: 3rem;}
/* call to action */
#cta{
  background-color: #ff4c68;

}


.ctatext{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  padding: 5%;
}

/* footer */
/* icons */

.ficon{
  padding: 1%;
}

#footer{

  padding: 10%
  text-align: center;
}


@media(max-width: 1028px) {
  .title-image{
  position: static;
    transform: rotate(0);
  }
}
#title{
  text-align: center;

}
